# Sign Up for LiveKit Cloud --> https://cloud.livekit.io
# Copy this file to .env.local and fill in the values. it should match ../web/.env.local
export LIVEKIT_URL= wss://rajab-emxnc5hr.livekit.cloud
export LIVEKIT_API_KEY=API6apGJZ9ZYiCw
export LIVEKIT_API_SECRET=rqDag2YZGBdDtkOKbOVQGhZoX0j94YNP1Vl9tuUqfKK
